<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Wine & Dine With Us</h1>
          <p class="lead">Preview Our Menu and Blockbuster Movie</p>
        </div>
      </div>
<div id="Intro" class="post-item" title>
        <h3 class="top title">In Theatre Dining </h3>
        <img src="../../../assets/images/food-1.jpg" class="preview" align="left">
        <p>Guests enjoy elevated food and beverage service seat-side, for a premium dine in the dark 
            theater experience. Indulge in a chef-driven menu of thoughtfully prepared and seasonally 
            inspired dishes, along with wine, beer and signature cocktails delivered to your Premium Plus 
            seats or carried in from the grab and go IPIC Express. Classic and gourmet popcorn flavors, 
            quintessential “movie” candy and innovative treats will satisfy your sweet and savory tooth and 
            transform your day or night into an unforgettable experience.</p>
       
    </div>
    <div id="vision" class="post-item title">
        <h3 class="title">Movie Preview</h3>
        <img src="../../../assets/images/crawl.jpg" class="preview" align="right">

        <p>
                When a massive hurricane hits her Florida hometown, Haley (Kaya Scodelario) 
                ignores evacuation orders to search for her missing father (Barry Pepper). Finding him gravely 
                injured in the crawl space of their family home, the two become trapped by quickly encroaching 
                floodwaters. As time runs out to escape the strengthening storm, Haley and her father discover 
                that the rising water level is the least of their fears. From director Alexandre Aja (The Hills
                 Have Eyes) and producers Craig Flores (300), Sam Raimi (Don’t Breathe, Evil Dead) and Alexandre
                  Aja, Crawl is a nail-biting horror thriller in theatres July 12, 2019.
        </p>
        <button  class="btn btn-secondary" (click)="differentRoute()">Join Us!</button>
        
    </div>
    
      