
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About Us</h1>
      <p class="lead">Learn the history of CineMunch and its founders.</p>
    </div>
  </div>
  
  <!--
  <header>
    <h1>Cheap</h1>
    <h1>Fast</h1>
    <h1>feebly :)</h1>
    <video class="header" src="http://websamuraj.pl/examples/yt/wideo/video.mp4" autoplay loop playsinline muted>
        -->
        <div id="Intro">
            <h3 class="top title">For Your Enjoyment </h3>
            <p>We believe in connecting people to more than just movies. We invite members and guests to 
                immerse in a social destination—a cultural haven offering inventive cuisine, handcrafted cocktails,
                 meticulously curated programming, and unmatched comfort designed with YOU in mind. Indulge in an unparalleled
                 experience that is intimate and private, yet shared.</p>
           
        </div>
        <div id="vision">
            <h3 class="title">See The Vision</h3>
            <p>
                Established in 2019, CineMunch® is a luxury restaurant and movie 
                theater brand. Our mission is to provide an elevated experience from the 
                traditional movie-going experience. For the main show, step into our boutique theatre showing
                the latest movies. Then get acquainted with our thoughtfully prepared and seasonally inspired menu,
                prepared with a drink from our mixologist. All of this is from our website.
            </p>
        </div>
        <div id="team">
            <h3 class="top title">Who We Are</h3>
            <p>
                CineMunch is the culmination of four full-stack developers who combined their love for food, drinks, and movies into 
                this movie destination. 
            </p>
            <h4 class="title">Our Founders:</h4>
            <ul>
                <li>Chief of Marketing: Billy Clara </li>
                <li>President of Operations: Kris Lord</li>
                <li>President of Films: Vijayalakshmi Palaniyappan </li>
                <li> Chief Operating Officer: Tiffany West</li>
            </ul>
            <button  class="btn btn-secondary" (click)="differentRoute()">Join Us</button>

        </div>


