<body style="background-color: rgb(165, 117, 185)">
<div>  
<div class=jumbotron-fluid style="background-color: #2c0e31">
<h1 id="title" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: azure">Please select your preferred seats</h1>
</div>



<div class="jumbotron" style="background-color: rgb(165, 117, 185)" >
    
        <div class="w-50 p-1 container" style="background-color: rgb(223, 202, 233)">
           <p style="text-align: center; padding: 0%;">SCREEN</p>
        </div>
        
        
    <div class="col-lg-12 seat-container" style="text-align: center" >

        <div  *ngFor="let seatrow of seatmap " >
            <div class="col-12 pricing-label" *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">{{seatrow.seatPricingInformation}}</div>
            <div class="seatrow container">
                
                <div *ngIf="seatChartConfig?.showRowsLabel">
                    <div class="row-label" >  {{seatrow.seatRowLabel}} </div>
                </div>
                
                <div *ngFor="let seatobj of seatrow.seats">
                    
                    <div class="seat-item seat-space" style="color:white ; background-color:rgb(165, 117, 185)" *ngIf="seatobj.seatLabel == ''">  &nbsp; </div>
                    
                    <div tooltip="Seat : {{seatobj.seatLabel}} | Price : $ {{seatobj.price}}" placement="top"
                    [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable' }" 
                     (click)="selectSeat(seatobj)" *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''">{{seatobj.seatId}}</div>
                     
                    <div tooltip="Seat not available" placement="top"
                    [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }" 
                    *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
                </div>
            </div>
        </div>
      </div>
      
      
      <!--This is the summary container-->
      <div  class="container">
        <div class="col-lg-12 summary-bar" class="summary" >
            <div class="col-lg-12" >
                    <div>
                        <h5>Total Selected : {{ cart?.selectedSeats?.length }}</h5>
                        <h5>Total Amount :&nbsp;&nbsp; $ {{cart.totalamount}}</h5>
                        <h5>Show time Id :&nbsp;  {{showTimeId}}</h5>

                    </div>
            </div>
            <div class="col-lg-12 selected-seats">
                <h5 class="col-lg-12 no-padding">Selected Seats : </h5>
                <span *ngFor="let seatLabel of cart.selectedSeats" class="badge badge-primary">{{seatLabel}}</span>
            </div>
        </div>
        <div class="col-lg-12 book-area">
          <button [disabled]="cart?.selectedSeats?.length == 0" type="button"  (click)="processBooking()" class="btn btn-dark" mdbWavesEffect>Continue To Menu</button>
        </div>
      </div>
</div>
</div>
</body>
