<h1>Welcome to MoviesAPI</h1>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Actors</th>
            <th>Description</th>
            <th>TicketPriceth>
        </tr>
        <tr *ngFor = "let movie of movies">
            <td>{{movies.id}}</td>
            <td>{{movies.title}}</td>
            <td>{{movies.actors}}</td>
            <td>{{movies.descritption}}</td>
            <td>{{movies.ticketPrice}}</td>
            <td> Edit | Delete </td>
        </tr>
    </table>
</div>
