

        <div class="container " id="menu-head">
          <h4 class="display-4">CineMunch Theater Menu</h4>
          <p class="lead">Choose from our pre-selected Menu</p>
          <button class="btn btn-secondary" (click)="differentRoute()">Not Hungry?</button>

        </div>
    

      <div class="container">
        <div class="row">
            <div class="col post-item">
<h3>Menu</h3>
<ul>
<li *ngFor= "let m of menus" 
[class.selected]="m === selectedMenu"
(click)="onSelect(m)">
  {{m.mealName}}, {{m.mealDescription}}, {{m.mealPrice}}
    </li>
</ul>

            </div>
            <div class="col">

  <div *ngIf="selectedMenu" class="details">
<h4> You selected: {{selectedMenu.mealName}}</h4>
<h4 class="effect-shine"> Seat Number :  {{seatNo}}</h4>
<table>
<tr>
  <td> Price:</td>
  <td><input [(ngModel)]="selectedMenu.mealPrice" placeholder="Price"> </td>
</tr>
<tr>
  <td>
      <img [src]="imgSrc" width="250" height="200">

  </td>
</tr>
<tr>
  <td><button  class="btn btn-secondary" (click)="differentRoute()">Check Out</button>
</td>
</tr>
</table>
  </div>
  </div>
</div>
            <!-- 
           <div  *ngIf="selectedMenu" class="details">
                <div id="order">Order Summary</div>
            </div>
            </div>
            --> 
