
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">CineMunch Theater Menu</h1>
          <p class="lead">Choose from our preselected Menu</p>
        </div>
      </div>
<!---->
      <div class="container">
<h3>Menu</h3>
<ul>
<li *ngFor= "let m of menus" 
[class.selected]="m === selectedMenu"
(click)="onSelect(m)">
  {{m.mealName}}, {{m.mealDescription}}, {{m.mealPrice}}
    </li>
</ul>
  <div *ngIf="selectedMenu" class="details">
<h4> You selected: {{selectedMenu.mealName}}. Details:</h4>
<table>
<tr>
  <td> Price:</td>
  <td><input [(ngModel)]="selectedMenu.mealPrice" placeholder="Price"> </td>
</tr>
</table>

  </div>

            </div>

            <!-- 
           <div  *ngIf="selectedMenu" class="details">
                <div id="order">Order Summary</div>
            </div>
            </div>
            --> 
