
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">CineMunch Theater Menu</h1>
          <p class="lead">Choose from our preselected Menu</p>
        </div>
      </div>
      <div class="container">
            <div class="row">
              <div class="col">
<div id="menu">Menu</div>
            </div>

              
              <div class="col">
                <div id="order">Order Summary</div>
            </div>
            </div>
    
