<div id="checkoutBody">
<div id="moviePoster" >
    <!-- <img src="../../../assets/images/spiderman1.jpg" width="250" height="200"> -->
</div>

<div>
<!-- <img src="../../../assets/images/food-1.jpg" width="250" height="200"> -->
</div>

<div>
   <h3> {{FNLN}}'s Order Receipt</h3>
   <ul>
   <h3>  {{nameMem}} Membership for ${{costMem}}/month! </h3>
   <h3>  Movie Name: {{movieName}} </h3>
   <h3>  Date and ShowTime:  {{showDate}} </h3>
   <h3>  Seat Number: {{seatNo}} </h3>
   <h3>  Total Ticket Price: $ {{totalamount}} </h3>
   <h3>  Meal Name: {{mealName}} </h3>
   <h3>  Meal Price: $ {{mealPrice}} </h3>
   <h3>  Total: $ {{ total | number :'.2-2'}} </h3>
   <!-- <h3> Total: $ {{totallog}} </h3> -->
 </ul> 
 </div>
<div>
    <button type="button" (click)="logOut(); backToWelcome()" class="btn btn-warning">Cancel Order</button>
    <span id="spcbtwn"></span>
    <button type="button" class="btn btn-light">Submit Order</button>

    <a href="mailto:mail@example.com" class="btn btn-default">  Send to Email</a>
   <a href="https://twitter.com" class="btn btn-default"><i class="fa fa-twitter"> post to twitter</i></a>

</div>
</div>
