<div id="checkoutBody">
<div id="moviePoster" >
    <img src="../../../assets/images/spiderman1.jpg" width="250" height="200">
</div>

<div>
<img src="../../../assets/images/food-1.jpg" width="250" height="200">
</div>

<div>

   <h3 *ngIf="!regFNLN"> {{regFNLN}}'s Order Receipt</h3>
   <h3 *ngIf="logFNLN"> {{logFNLN}}'s Order Receipt</h3>
   <ul>
       <li>Dummy Data Here: MOVIE </li>
       <li>{{ShowTime}}: DATE AND SHOWTIME </li>
       <li>Dummy Data Here: SEAT SELECTION </li>
       <li>Dummy Data Here: FOOD ORDER</li>
       <li>Dummy Data Here: TOTAL PRICE: $ </li>

   </ul>
</div>
<div>
    <button type="button" (click)="logOut(); backToWelcome()" class="btn btn-warning">Cancel Order</button>
    <span id="spcbtwn"></span>
    <button type="button" class="btn btn-light">Submit Order</button>

<h3>Share on Twitter! Would you like an Email receipt</h3>
</div>
</div>