<div id="moviePoster" >
    <img src="../../../assets/images/spiderman.jpg" width="250" height="200">
</div>

<div>
<img src="../../../assets/images/food-1.jpg" width="250" height="200">
</div>

<div>


   <h3> {{MemberName}}'s Order Receipt</h3>

   
   <ul>
       <li>Dummy Data Here: MOVIE </li>
       <li>Dummy Data Here: DATE AND SHOWTIME </li>
       <li>Dummy Data Here: SEAT SELECTION </li>
       <li>Dummy Data Here: FOOD ORDER</li>
       <li>Dummy Data Here: TOTAL PRICE: $ </li>

   </ul>
</div>
<h3> Would you like an Email receipt</h3>
<h3>Share on Twitter!</h3>
